
.App{
    padding: 0px 20px 0px 0px;
}

/***************      TOOLTIP            ************************/

  .you .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 38%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .you .tooltiptext::after {
    content: "";
    position: absolute;
    top: -20%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .you:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


/***************      VIDEO PLAYER       ************************/

.youtube{
    width: 100%;
    height: 100%;
    background: black;
}
.player{
    width: 100%;
    height: 84%;
    background: black;
}
.player video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.player .ctrls{
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    background: rgba(103, 102, 102, 0.72);
    z-index: 9;
    padding: 0px 15px;
}
.player .ctrls .pp{
    border: 0px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #674EA7;
    color: #fff;
}
.player .ctrls .timer{
    flex: 1;
    margin: 0px;
    text-align: center;
}
.player .ctrls .slider{
    flex: 3;
}
.player .ctrls .slider .prog{
    width: 100%;
    height: 10px;
    background: #ffffff;
    border-radius: 10px;
}
.player .ctrls .slider .bar{
    width: 22%;
    height: 10px;
    background: #674EA7;
    border-radius: 10px;
}
.player .ctrls .slider .bar .knob{
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    box-shadow: 0px 0px 5px #000;
}
.player .ctrls .vol{
    border: 0px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: rgba(234, 82, 82, 0);
    color: #fff;
    margin: 0px 1px;
}
.player .ctrls .fs{
    border: 0px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: rgba(234, 82, 82, 0);
    color: #fff;
    margin: 0px 1px;
}



/***************      SIDERBAR        ************************/

.siderbar{
    width: 220px;
}
.siderbar .logo{
    padding: 20px 25px;
}
.siderbar .logo img{
    height: 35px;
}
.siderbar .nav{
    padding: 50px 35px;
}
.siderbar .nav li{}
.siderbar .nav li a{
    padding: 10px 20px;
    margin-bottom: 6px;
}
.siderbar .nav li a .ico{
    margin-right: 10px;
}
.siderbar .nav li a .lbl{}

.siderbar .nav li a.active,
.siderbar .nav li a.on{
    border-left: 3px #674EA7 solid;
    color: #674EA7;
    line-height: 1;
}

.siderbar .updated-course{
    padding: 0px 35px;
    margin: 20px 0px;
}
.siderbar .updated-course .ico{
    background: #674EA7;
    padding: 15px;
    border-radius: 22px;
    margin-right: 10px;
}
.siderbar .updated-course .lbl{}
.siderbar .updated-course .lbl .author{}

.course-stats, .siderbar .stats{
    padding: 50px 10px;
}
.course-stats .stats-box, .siderbar .stats .stats-box{
    flex-direction: column;
    width: 110px;
    background: #00000017;
    border-radius: 10px;
    margin: 2px;
    padding: 2px;
    align-items: center;
}
.course-stats .stats-box .ico ,.siderbar .stats .stats-box .ico{
    margin-bottom: 15px;
}
.siderbar .stats .stats-box .val{}
.siderbar .stats .stats-box .lbl{}
.course-stats .ico-heart, .siderbar .stats .stats-box .ico-heart{
    color: red;
    margin-top: 10px;
}
.course-stats .ico-heartbeat, .siderbar .stats .stats-box .ico-heartbeat{
    color: green;
    margin-top: 10px;
}

.course-stats .ico-thermometer{
    color: #784bea;
    margin-top: 10px;
}

.siderbar .me{
    padding: 20px 40px;
}
.siderbar .me .photo{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    margin-right: 10px;
    background: #eee;
}
.siderbar .me .photo .img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.siderbar .me .lbl{}


.app-content{
    display: flex;
    padding: 20px 20px 20px 20px;
    flex: 1;
}

/*******************         HOME PAGE          *********************/

.home-page{
    flex: 4;
}
.home-page .section{
    
}
.home-page .section .title{
    margin-bottom: 20px;
}
.home-page .section .tutors{
    
}
.home-page .section .tutors .tutor{
    border: 2px #674EA7 solid;
    background: #fff;
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: 20px;
    padding: 3px;
    border-radius: 50px;
}
.home-page .section .tutors .tutor img{
    width: 100%;
    height: 100%;
    border-radius: 55px;
}
.home-page .section .tutors .tutor:hover{
    
}

.section-b{
    margin-top: 0px;
    text-align: left;
    justify-content: flex-start;
    padding: 30px;
    margin: 0px 0px;
    /* background: #00000017; */
    border-radius: 10px;
    width: 100%;
    padding: 0px;
}

.section .courses{}
.section .courses a{
    flex: 1;
    margin-right: 25px;
    
}
.section .courses .block{
    /*width: 250px;*/
    height: 375px;
    background: #e2e2e2;
    border-radius: 20px;
    background-size: cover !important;
}
.section .courses a:last-child{
    margin-right: auto;
}
.section .courses .block .user{
    padding: 20px;
    z-index: 1;
}
.section .courses .block .user .pic{
    width: 40px;
    height: 40px;
    border: 2px #fff solid;
    border-radius: 50%;
    padding: 3px;
    margin-right: 10px;
}
.section .courses .block .user .pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.section .courses .block .user .meta{}
.section .courses .block .user .meta .name{}
.section .courses .block .user .meta .uname{}

.section .courses .block .dura{
    top: 90px;
    left: 20px;
    background: #674EA7;
    line-height: 1;
    padding: 8px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.33);
    z-index: 1;
}

.section .courses .block .course-title{
    bottom: 15px;
    left: 15px;
    right: 15px;
    padding: 15px 20px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    text-shadow: 1px 1px 1px #000;
}
.home-page .top-tutors{
    flex-wrap: wrap;
}
.home-page .section .user-block{
    margin: 0px 30px 0px 0px;
}
.home-page .section .user-block .pic{
    width: 40px;
    height: 40px;
    border: 2px #fff solid;
    border-radius: 50%;
    padding: 3px;
    margin-right: 10px;
}
.home-page .section .user-block .pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.home-page .section .user-block .meta{}
.home-page .section .user-block .meta .name{}
.home-page .section .user-block .meta .uname{}




/*******************         RIGHTBAR          *********************/


.right{
    flex: 2 1;
    padding: 20px;
}

.rightbar{
    flex: 1;
    padding: 0px 0px;
}

.rightbar .search-box{
    margin: 10px 0px;
}
.rightbar .search-box .qry{
    flex: 1;
    border: 0px;
    padding: 15px;
    background: #f1f1f1;
    margin-right: 10px;
    border-radius: 5px;
}
.rightbar .search-box .qry:focus{
    background: #dcdada;
}
.rightbar .search-box .go{
    border: 0px;
    background: #674EA7;
    padding: 0px 20px;
    border-radius: 10px;
}
.rightbar .search-box .go:hover{
    background: #563d94;
}
.rightbar .courses{
    flex-direction: column;
}
.rightbar .courses .cols{
    flex-direction: row;
}
.rightbar .course-a .block{
    width: 100%;
    height: 250px;
    margin-bottom: 25px;
}
.rightbar .courses .cols .block{
    height: 290px;
}

.rightbar .special-offer{
    background: #d5fbd6;
    height: 185px;
    margin-top: 14px;
    border-radius: 20px;
    overflow: hidden;
}
.rightbar .special-offer .meta{
    padding: 30px;
    flex: 1;
    z-index: 2;
}
.rightbar .special-offer .meta .h1{
    color: #674EA7;
}
.rightbar .special-offer .meta .h2{
    margin-top: 5px;
    color: #04ad21;
}
.rightbar .special-offer .meta button{
    background: #fff;
    border: 0px;
    border-radius: 10px;
    padding: 14px 20px;
    margin-top: 20px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}
.rightbar .special-offer .meta button:hover{
    background: #563d94;
    color: white;
}
.rightbar .special-offer .vector{
    padding-top: 30px;
    width: 150px;
    z-index: 2;
}
.rightbar .special-offer .vector img{}
.rightbar .special-offer .ring{
    width: 150px;
    height: 150px;
    background: #88ce8a;
    border-radius: 100%;
    right: -108px;
    top: 17%;
    transform: translateY(-50px);
    border: 40px rgba(255, 255, 255, 0.45) solid;
}


/*******************         VISTA PREVIA CURSOS          *********************/

.you-list .chat .ico{
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.you-list .chat {
    margin: 10px;
}
.you-list .chat .pic img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.you-list .chat .pic {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #eee;
    margin-right: 10px;
}

.course-page{}
.course-info{
    flex: 1;
    margin-left: 20px;
}
.course-page .tutor{
    margin-top: 40px;
}
.course-page .title{
    margin-top: 40px;
}
.course-page .tutor .pic{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #eee;
    margin-right: 10px;
}
.course-page .tutor .pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.course-page .tutor .meta{}
.course-page .tutor .meta .name{}
.course-page .tutor .meta .uname{}
.course-page .course-meta{
    padding: 40px 0px;
}
.course-page .course-meta .title{
    font-weight: 600;
}
.course-page .course-meta .about{

}

.course-videos{
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0px;
}
.course-videos a{
    margin: 10px 0px;
    background: #00000017;
    border-radius: 10px;
    width: 100%;
    padding: 5px;
}
.course-videos a .id{
    background: #563d94;
    width: 50px;
    height: 50px;
    border-radius: 14px;
    padding: 14px 20px;
    box-sizing: border-box;
    margin-right: 10px;
}
.course-videos a .meta{}
.course-videos a .meta .lbl{}
.course-videos a .meta .dur{}
.course-videos a:hover{}

.course-preview{
    flex: 2;
}

.extra-block{
    flex: 1;
    margin-right: 50px;
}
.chat{
    flex: 1;
    margin-right: 50px;
}
.chat .messages{
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    padding: 30px;
    margin: 10px 0px;
    background: #00000017;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
}
.chat .messages .bubble{
    align-self: flex-start;
    margin: 7px 0px;
    width: 100%;
}
.chat .messages .bubble .txt{
    background: #d6d6d6;
    line-height: 1;
    padding: 14px;
    border-radius: 20px 20px 20px 3px;
}
.chat .messages .bubble-mine{
    text-align: right;
}
.chat .messages .bubble-mine .txt{
    border-radius: 20px 20px 3px 20px !important;
    background: #272727;
    color: #fff;
}

.now-watching{
    flex: 1;
}
.now-watching .tooltip{
    background: #674EA7;
    top: 3px;
    right: 0px;
    padding: 8px 15px;
    border-radius: 10px;
}
.now-watching .you{
    margin-bottom: 2px;
    padding: 5px;
}

.now-watching .you-list {
    margin-top: 4px;
    text-align: left;
    justify-content: flex-start;
    padding: 30px;
    margin: 10px 0px;
    background: #00000017;
    border-radius: 10px;
    width: 100%;
    padding: 5px;
}
.now-watching .you .pic{
    width: 40px;
    height: 40px;
    margin-right: 12px;
    background: #ddd;
    border-radius: 100%;
}
.now-watching .you .pic img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 2px #674EA7 solid;
}
.now-watching .you .meta{}
.now-watching .you .meta .name{}
.now-watching .you .meta .uname{}


.primer{
    flex: 1;
}

.segundo{
    flex: 1;
}

.prise{
    display: flex;
}