/***************      SIDERBAR        ************************/

.siderbar{
    width: 275px;
}
.siderbar .logo{
    padding: 20px 25px;
}
.siderbar .logo img{
    height: 35px;
}
.siderbar .nav{
    padding: 50px 35px;
}
.siderbar .nav li{}
.siderbar .nav li a{
    padding: 10px 20px;
    margin-bottom: 6px;
}
.siderbar .nav li a .ico{
    margin-right: 10px;
}
.siderbar .nav li a .lbl{}

.siderbar .nav li a.on{
    border-left: 3px #674EA7 solid;
    color: #674EA7;
    line-height: 1;
}

.siderbar .updated-course{
    padding: 0px 35px;
    margin: 20px 0px;
}
.siderbar .updated-course .ico{
    background: #674EA7;
    padding: 15px;
    border-radius: 22px;
    margin-right: 10px;
}
.siderbar .updated-course .lbl{}
.siderbar .updated-course .lbl .author{}

.siderbar .stats{
    padding: 50px 40px;
}
.siderbar .stats .stats-box{
    flex-direction: column;
    width: 110px;
}
.siderbar .stats .stats-box .ico{
    margin-bottom: 15px;
}
.siderbar .stats .stats-box .val{}
.siderbar .stats .stats-box .lbl{}
.siderbar .stats .stats-box .ico-heart{
    color: red;
}
.siderbar .stats .stats-box .ico-heartbeat{
    color: green;
}

.siderbar .me{
    padding: 20px 40px;
}
.siderbar .me .photo{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    margin-right: 10px;
    background: #eee;
}
.siderbar .me .photo .img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.siderbar .me .lbl{}


.app-content{
    flex: 2;
    padding: 20px 40px 20px 20px;
}

/*******************         HOME PAGE          *********************/

.home-page{

}
.home-page .section{
    
}
.home-page .section .title{
    margin-bottom: 20px;
}
.home-page .section .tutors{
    
}
.home-page .section .tutors .tutor{
    border: 2px #674EA7 solid;
    background: #fff;
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: 20px;
    padding: 3px;
    border-radius: 50px;
}
.home-page .section .tutors .tutor img{
    width: 100%;
    height: 100%;
    border-radius: 55px;
}
.home-page .section .tutors .tutor:hover{
    
}

.section-b{
    margin-top:50px;
}

.section .courses{}
.section .courses a{
    flex: 1;
    margin-right: 25px;
    
}
.section .courses .block{
    /*width: 250px;*/
    height: 375px;
    background: #e2e2e2;
    border-radius: 20px;
    background-size: cover !important;
}
.section .courses a:last-child{
    margin-right: auto;
}
.section .courses .block .user{
    padding: 20px;
    z-index: 1;
}
.section .courses .block .user .pic{
    width: 40px;
    height: 40px;
    border: 2px #fff solid;
    border-radius: 50%;
    padding: 3px;
    margin-right: 10px;
}
.section .courses .block .user .pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.section .courses .block .user .meta{}
.section .courses .block .user .meta .name{}
.section .courses .block .user .meta .uname{}

.section .courses .block .dura{
    top: 90px;
    left: 20px;
    background: #674EA7;
    line-height: 1;
    padding: 8px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.33);
    z-index: 1;
}

.section .courses .block .course-title{
    bottom: 15px;
    left: 15px;
    right: 15px;
    padding: 15px 20px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    text-shadow: 1px 1px 1px #000;
}
.home-page .top-tutors{
    flex-wrap: wrap;
}
.home-page .section .user-block{
    margin: 0px 30px 0px 0px;
}
.home-page .section .user-block .pic{
    width: 40px;
    height: 40px;
    border: 2px #fff solid;
    border-radius: 50%;
    padding: 3px;
    margin-right: 10px;
}
.home-page .section .user-block .pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.home-page .section .user-block .meta{}
.home-page .section .user-block .meta .name{}
.home-page .section .user-block .meta .uname{}


.App{
    padding: 0px 20px 0px 0px;
}
/*******************         RIGHTBAR          *********************/

.rightbar{
    flex: 1;
    padding: 20px 0px;
}

.rightbar .search-box{
    margin: 10px 0px;
}
.rightbar .search-box .qry{
    flex: 1;
    border: 0px;
    padding: 15px;
    background: #f1f1f1;
    margin-right: 10px;
    border-radius: 5px;
}
.rightbar .search-box .qry:focus{
    background: #dcdada;
}
.rightbar .search-box .go{
    border: 0px;
    background: #674EA7;
    padding: 0px 20px;
    border-radius: 10px;
}
.rightbar .search-box .go:hover{
    background: #563d94;
}
.rightbar .courses{
    flex-direction: column;
}
.rightbar .courses .cols{
    flex-direction: row;
}
.rightbar .course-a .block{
    width: 100%;
    height: 250px;
    margin-bottom: 25px;
}
.rightbar .courses .cols .block{
    height: 290px;
}

.rightbar .special-offer{
    background: #d5fbd6;
    height: 185px;
    margin-top: 14px;
    border-radius: 20px;
    overflow: hidden;
}
.rightbar .special-offer .meta{
    padding: 30px;
    flex: 1;
    z-index: 2;
}
.rightbar .special-offer .meta .h1{
    color: #674EA7;
}
.rightbar .special-offer .meta .h2{
    margin-top: 5px;
    color: #04ad21;
}
.rightbar .special-offer .meta button{
    background: #fff;
    border: 0px;
    border-radius: 10px;
    padding: 14px 20px;
    margin-top: 20px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}
.rightbar .special-offer .meta button:hover{
    background: #563d94;
    color: white;
}
.rightbar .special-offer .vector{
    padding-top: 30px;
    width: 150px;
    z-index: 2;
}
.rightbar .special-offer .vector img{}
.rightbar .special-offer .ring{
    width: 150px;
    height: 150px;
    background: #88ce8a;
    border-radius: 100%;
    right: -108px;
    top: 17%;
    transform: translateY(-50px);
    border: 40px rgba(255, 255, 255, 0.45) solid;
}

